# Node.js
**/node_modules/
**/dist/
**/build/
.eslintcache

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/env/

# Environment Variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
